# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

In [2]:
df=pd.read_csv("data3.csv")

### Step 3. Assign it to a variable called iris

In [9]:
iris=df
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### Step 4. Create columns for the dataset

In [13]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.rename(columns = {'5.1':'sepal_length (in cm)'}, inplace = True)
iris.rename(columns = {'3.5':'sepal_width (in cm)'}, inplace = True)
iris.rename(columns = {'1.4':'petal_length (in cm)'}, inplace = True)
iris.rename(columns = {'0.2':'petal_width (in cm)'}, inplace = True)
iris.rename(columns = {'Iris-setosa':'class'}, inplace = True)
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica
145,6.3,2.5,5.0,1.9,Iris-virginica
146,6.5,3.0,5.2,2.0,Iris-virginica
147,6.2,3.4,5.4,2.3,Iris-virginica
148,5.9,3.0,5.1,1.8,Iris-virginica

### Step 5.  Is there any missing value in the dataframe?

In [14]:
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

In [15]:
# No Missing Values

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [16]:
iris.iloc[10:30,2] = np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [22]:
iris=iris.fillna(1)

### Step 8. Now let's delete the column class

In [24]:
iris.drop("class",axis=1,inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [25]:
iris.iloc[:3,:]=np.nan

### Step 10.  Delete the rows that have NaN

In [26]:
iris=iris.dropna()

### Step 11. Reset the index so it begins with 0 again

In [27]:
iris.reset_index()

,index,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,0,1.0,1.0,1.0,1.0
1,1,1.0,1.0,1.0,1.0
2,2,1.0,1.0,1.0,1.0
3,3,5.0,3.6,1.4,0.2
4,4,5.4,3.9,1.7,0.4
...,...,...,...,...,...
144,144,6.7,3.0,5.2,2.3
145,145,6.3,2.5,5.0,1.9
146,146,6.5,3.0,5.2,2.0
147,147,6.2,3.4,5.4,2.3
148,148,5.9,3.0,5.1,1.8